<div class="addPage" id="addPage">
<h1>
    {{title}}
</h1>
<form method="POST">
    <fieldset>
        <label for="name">
            Airline Name:
        </label>
        <input name="name" id="name" />
    </fieldset>
    <fieldset>
        <label for="name">
            Airline Code:
        </label>
        <input name="airlineCode" id="airlineCode" />
    </fieldset>
    <button class="offset-3 btn btn-primary">Save</button>
</form>
</div>