<style>
    .input {
        margin: 15px;
        gap: 25px;
    }
</style>
<div class="addPage" id="addPage">
<h1>
    {{title}}
</h1>
<form method="POST" class="form-group" id="form-group">
    <fieldset class="col-2">
        <label for="airlineName">
            Airline Name:
        </label>
        <input name="airlineName" id="airlineName" />
    </fieldset>
    <fieldset class="col-2">
        <label for="airlineCode">
            Airline Code:
        </label>
        <input name="airlineCode" id="airlineCode" />
    </fieldset>
    <fieldset>
        <button class="col-2 btn btn-primary" id="saveBtn">Save</button>
    </fieldset>
    
</form>
</div>