<style> .locationPage{
    margin: 100px;
    text-align: center;
}
</style>
<div class="locationPage" id="locationPage">
<h3>World Map</h3>
<p>This is a map page where you can find locations to visit!</p>
<section class="mapbox" data-mapbox>
    <figure>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.425926246209!2d-79.68203058449307!3d44.38437757910303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d57e2a58f0c46d%3A0x97149a8c579b7e47!2sGeorgian%20College%20-%20Barrie%20Campus!5e0!3m2!1sen!2sca!4v1689663066301!5m2!1sen!2sin"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" width="400" height="300" loading="lazy"></iframe>
    </figure>
</section>
</div>